# HPC Configuration Template
# Copy this file to 'config.env' and fill in your details.

# The variable names here MUST match the host names defined in HPC_HOSTS (in uppercase)
# For example, if HPC_HOSTS="hpc_a hpc_b", you must define:
#   export HPCA_HOST='...'
#   export HPCA_HPCS='...'
#   export HPCB_HOST='...'
#   export HPCB_HPCS='...'

# HPC Username
export HPC_UNAME=your_username

# List of hosts (space-separated)
export HPC_HOSTS="hpc_a hpc_b"

# Host address (Suffix _HOST)
export HPCA_HOST='hpc_a.domain.com'
export HPCB_HOST='hpc_b.domain.com'

# Host clusters (Suffix _HPCS, space-separated)
export HPCA_HPCS='cluster1 cluster2'
export HPCB_HPCS='cluster3'

# RSync/SSH options
export HPC_RSYNC_OPTS='-avuP'
export HPC_SSH_OPTS='-Y'
export HPC_PYTHON=python
